<h1 style="text-align: center;">BANK MARKETING
</h1>

<img 
    style="display: block; 
           margin-left: auto;
           margin-right: auto;
           width: 50%;"
    src="https://raw.githubusercontent.com/Dotto-Luis/Projects/main/Finance/Bank%20Marketing/pics/Finance-and-Retail-Banking-Blog-Post-1080x628.jpg" 
    alt="Our logo">
</img>

<a id='contents' />

## üìö Contents

* [1 - BUSINESS UNDERSTANDING](#pensando)
   * [1.1 - Determinate business question and objective](#bu11)
   * [1.2 - Situation assessment](#bu12)
   * [1.3 - Determine the project goals](#bu13)    
   * [1.4 - Project plan](#bu14)    


* [2 - DATA UNDERSTANDING](#eda)
    * [2.1 - Collect data](#du21)
    * [2.2 - Describe data](#du22)
    * [2.3 - Explore data](#du23)
    * [2.4 - Verify data quality](#du24)



* [3 - DATA PREPARATION](#ml)
    * [3.1 - Data selection](#dp31)
    * [3.2 - Data cleaning](#dp32)
    * [3.3 - Feature engineering](#dp33)
    * [3.4 - Data integration](#dp34)
    * [3.5 - Data formatting](#dp35)


* [4 - MODELING](#conclusiones)
    * [4.1 - Model selection](#m41)
    * [4.2 - Test desing](#m42)
    * [4.3 - Model development](#m43)
    * [4.4 - Model assessment](#m44)


* [5 - EVALUATION](#evaluation)
    * [5.1 - Evaluate results](#e51)
    * [5.2 - Review process](#e52)
    * [5.3 - Determine next steps](#e53)


* [6 - DEPLOYMENT](#deployment)
    * [6.1 - Deployment](#d61)
    * [6.2 - Monitoring and maintenance](#d62)
    * [6.3 - Final report](#d63)
    * [6.4 - Review](#d64)

___

<a id='pensando' />

# 1. Business Understanding ‚ÅâÔ∏è
[(back to top)](#contents)



Abstract: The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

Data Set Information: The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

<a id='bu11' />

## 1.1 - Determinate business question and objective
[(back to top)](#contents)

As we says in last lines we need classified if the producto would be yes or not surcribed. Our main goal is make a model with 80 of accurracy.

<a id='bu12' />

## 1.2 - Situation assessment
[(back to top)](#contents)

Los recursos para el proyecto fueron obtenidos de [Kaggle](https://www.kaggle.com/datasets/dgawlik/nyse)

El proyecto no requiere costos mas que las horas utilizadas en el mismo., tampoco a la escala realizada se deben emplear herramientas pagas. Al tratarse de un dataset abierto brindado por la Universidad de Cakufirbua se pueden acceder a los datos de manera gratuita. Corremos con el riesgo de no contar con un dataset que contemple mas periodos.

Como contingencia frente a este riesgo se puede desarrollar un proyecto de otros bancos y buscar coincidencias.

<a id='bu13' />

## 1.3 - Determine the project goals
[(back to top)](#contents)

El objetivo del proyecto lo vamos a definir en subobjetivos:

- Objetivo 1: Entender el problema de negocio e identificar los elementos a ser considerados para el planteamiento de un Modelo de Data Science.

- Objetivo 2: Describir los datos de negocio y las relaciones entre datos mediante el An√°lisis Exploratorio de Datos.

- Objetivo 3: Elegir el algoritmo de entrenamiento y preparar los datos para el proceso de entrenamiento del modelo.

- Objetivo 4: Evaluar los indicadores de desempe√±o predictivo del modelo y realizar optimizaciones.

- Objetivo 5: Construir una presentaci√≥n ejecutiva para la alta gerencia mostrando los resultados del modelo.

<a id='bu14' />

## 1.4 - Project Plan
[(back to top)](#contents)

**Tecnologias**: Jupuyter Notebook, Visual Studio Code, Python, Collab, Github. 

**Framework**: Metodologia CRISP DM

**Fecha de inicio**: 01/04/2022

**Fecha de fin**: 05/07/2022


 **Phase**              | **Time** | **Resources/Talent** | **Risk** |                                      |   |   |   |   |   
------------------------|----------|----------------------|----------|--------------------------------------|---|---|---|---|
 1 Business understanding | 1 week   | All analysts         | Management change                               |   |   |   |   |  
 2 Data understanding     | 3 week   | Data Scientists      | Data / technology problems                      |   |   |   |   |
 3 Data preparation       | 5 week   | Data Scientists      | Data / technology problems                      |   |   |   |   |
 4 Modeling               | 2 week   | Data Scientists      | Inability to build adequate model               |   |   |   |   |
 5 Evaluation             | 1 week   | Data Scientists      | Economic change, inability to implement results |   |   |   |   |
 6 Deployment             | 1 week   | Implementation team  | Economic change, inability to implement results |   |   |   |   |

---

<a id='eda' />

# 2. Data Understanding üîç
[(back to top)](#contents)

In this stage we seek to know the data, structure, distribution and quality of the same. To begin with, we are going to analyze the provided dataset.

### Attribute Information:

#### Bank client data:
- Age (numeric)
- Job : type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')
- Marital : marital status (categorical: 'divorced', 'married', 'single', 'unknown' ; note: 'divorced' means divorced or widowed)
- Education (categorical: 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree', 'unknown')
- Default: has credit in default? (categorical: 'no', 'yes', 'unknown')
- Housing: has housing loan? (categorical: 'no', 'yes', 'unknown')
- Loan: has personal loan? (categorical: 'no', 'yes', 'unknown')

#### Related with the last contact of the current campaign:
- Contact: contact communication type (categorical: 'cellular','telephone')
- Month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
- Day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
- Duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

#### Other attributes:
- Campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- Pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
- Previous: number of contacts performed before this campaign and for this client (numeric)
- Poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

#### Social and economic context attributes
- Emp.var.rate: employment variation rate - quarterly indicator (numeric)
- Cons.price.idx: consumer price index - monthly indicator (numeric)
- Cons.conf.idx: consumer confidence index - monthly indicator (numeric)
- Euribor3m: euribor 3 month rate - daily indicator (numeric)
- Nr.employed: number of employees - quarterly indicator (numeric)

#### Output variable (desired target):
- y - has the client subscribed a term deposit? (binary: 'yes', 'no')

<a id='du21' />

## 2.1 - Collect data
[(back to top)](#contents)

Loading dataset..

In [2]:
import pandas as pd
import seaborn as sns #pip install -U seaborn
import plotly.express as px
from matplotlib import pyplot as plt
import numpy as np
import scipy 
from funpymodeling.exploratory import profiling_num #pip install funpymodeling==0.1.7
import csv

In [4]:
bank = pd.read_csv('bank-additional-full.csv', sep=';')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

<a id='du22' />

## 2.2 - Describe data
[(back to top)](#contents)

In [5]:
bank.shape

(41188, 21)

In [6]:
bank.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [7]:
profiling_num(bank)

,variable,mean,std_dev,variation_coef,p_0.01,p_0.05,p_0.25,p_0.5,p_0.75,p_0.95,p_0.99
0,age,40.024060,10.421250,0.260375,23.00000,26.000,32.000,38.000,47.000,58.000,71.000
1,duration,258.285010,259.279249,1.003849,11.00000,36.000,102.000,180.000,319.000,752.650,1271.130
2,campaign,2.567593,2.770014,1.078837,1.00000,1.000,1.000,2.000,3.000,7.000,14.000
3,pdays,962.475454,186.910907,0.194198,3.00000,999.000,999.000,999.000,999.000,999.000,999.000
4,previous,0.172963,0.494901,2.861312,0.00000,0.000,0.000,0.000,0.000,1.000,2.000
5,emp.var.rate,0.081886,1.570960,19.184834,-3.40000,-2.900,-1.800,1.100,1.400,1.400,1.400
6,cons.price.idx,93.575664,0.578840,0.006186,92.20100,92.713,93.075,93.749,93.994,94.465,94.465
7,cons.conf.idx,-40.502600,4.628198,-0.114269,-49.50000,-47.100,-42.700,-41.800,-36.400,-33.600,-26.900
8,euribor3m,3.621291,1.734447,0.478958,0.65848,0.797,1.344,4.857,4.961,4.966,4.968
9,nr.employed,5167.035911,72.251528,0.013983,4963.60000,5017.500,5099.100,5191.000,5228.100,5228.100,5228.100

In [8]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

<a id='du23' />

## 2.3 - Explore data
[(back to top)](#contents)

Let's analyze our dataset with three different analysis:

- Univariado
- Bivariado
- Multivariado

### 2.3.1 Analisis Univariado

### 2.3.2 Analisis Bivariado

### 2.3.3 Analisis Multivariado

<a id='du24' />

## 2.4 - Verify data quality

[(back to top)](#contents)

How is your data quality? Many missing values? Is the data collection appropriate enough?. Make sure that the data is past your quality threshold.

---

<a id='ml' />

# 3. Data Preparation üóÑÔ∏è
[(back to top)](#contents)

After you understand the data you have, it is time for the Data Preparation. This phase is what we did to prepare the data for the modeling phase.

Los precios fueron sacados de [Yahoo Finance](https://finance.yahoo.com/), fundamentals de [Nasdaq Financials](https://www.nasdaq.com/), tambien se usaron base de datos de [EDGAR SEC](https://www.sec.gov/edgar/search-and-access)

<a id='dp31' />

## 3.1 - Data selection
[(back to top)](#contents)

Selecting the dataset, columns, and/or rows you would use. When you exclude data, make sure you have a valid explanation. The way you filter data should reflect the business question as well.

<a id='dp32' />

## 3.2 - Data cleaning
[(back to top)](#contents)

Garbage-in, garbage-out ‚Äî what happens if you did not clean the data properly. This is the task when you need to make sure your data is right. Cleaning data takes a lot of preparation and data understanding ‚Äî you need a reason to correct data or impute new data. Your data science project should explain the steps you take to clean the data in detail. For me personally, I would take a closer look at this task when I am looking at the candidate.

<a id='dp33' />

## 3.3 - Data engineering
[(back to top)](#contents)

Feature engineering you might think interesting or helpful. Try to be creative when creating new data from existing data.

<a id='dp34' />

## 3.4 - Data integration
[(back to top)](#contents)

New data set from combining two or more data sets. It might be a lot harder to acquire the dataset from free resources, but it is possible.

<a id='dp35' />

## 3.5 - Data formatting
[(back to top)](#contents)

Formatting data when you need it. For example, convert the categorical value into numerical value or vice versa. Don‚Äôt forget to state your reasoning.

---

<a id='conclusiones' />

# 4. Modeling üèóÔ∏è
[(back to top)](#contents)


El objetivo √∫ltimo de esta fase es construir un modelo que nos permita alcanzar los objetivos del proyecto.

En esta fase deberemos ser capaces de:

Seleccionar las t√©cnicas de modelado m√°s adecuadas para nuestro juego de datos y nuestros objetivos.
Fijar una estrategia de veriÔ¨Åcaci√≥n de la calidad del modelo.
Construir un modelo a partir de la aplicaci√≥n de las t√©cnicas seleccionadas sobre el juego de datos.
Ajustar el modelo evaluando su Ô¨Åabilidad y su impacto en los objetivos anteriormente establecidos.
Nos encontramos ante un problema de clasificaci√≥n. Aplicaremos un m√©todo de aprendizaje supervisado, concretamente el clasificador RandomForest, para predecir el diagn√≥stico de c√°ncer de mama (tumor benigno o maligno), usando el conjunto de datos original con todos los atributos.

Dividimos las observaciones en un conjunto de entrenamiento para construir el modelo y otro conjunto de test para evaluarlo. Para ello, a partir de dataset inicial tomaremos el 75% de las observaciones junto con su etiqueta de clase asociada para el conjunto de entrenamiento. El 25% restante se asignan al conjunto de test.

La implementaci√≥n la realizaremos en Python, utilizando la librer√≠a sckit-learn.

For many data enthusiasts out there, the Modeling phase might be the most exciting ‚Äî well, it is. However, this phase is shorter compared to the other phase we just passed previously. In this phase, we would develop our machine learning model/product to answer the business question.

<a id='m41' />

## 4.1 - Model selection
[(back to top)](#contents)

Using which machine learning algorithms to try. You might want to experiment with many models. It would be desirable if you could explain why you select a certain algorithm.

<a id='m42' />

## 4.2 - Test desing
[(back to top)](#contents)

Design your modeling test design by splitting the data into training, test, validation sets, or cross-validation. Justify the reason for how you design the test.

<a id='m43' />

## 4.3 - Model development
[(back to top)](#contents)

Fit your model using the data you have prepared. Manage your resources well here ‚Äî it might take a long time, depend on your data and your experiment design. The development should consider how the business question and industrial scene would be as well, such as ‚ÄúWould the model I develop is possible in the business,‚Äù ‚ÄúIs the resources I need to develop this model is costly?‚Äù etc.

<a id='m44' />

## 4.4 - Model assessment
[(back to top)](#contents)

Set your success technical metrics and choose the best model(s) viable for solving the business question. Try to explain why you decide on certain metrics and why not the other.

---

<a id='evaluation' />

# 5. Evaluation üìä
[(back to top)](#contents)

En esta fase nos centrarnos en evaluar el grado de acercamiento del modelo a los objetivos de negocio.

En esta fase deberemos ser capaces de:

Evaluar el modelo o modelos generados hasta el momento.
Revisar todo el proceso de miner√≠a de datos que nos ha llevado hasta este punto.
Establecer los siguientes pasos a tomar, tanto si se trata de repetir fases anteriores como si se trata de abrir nuevas l√≠neas de investigaci√≥n.
Siguiendo nuestro ejemplo, para la evaluaci√≥n del modelo calcularemos una serie de m√©tricas sobre un conjunto de datos (conjunto de test) que el modelo no conoce. M√©tricas habituales son la precisi√≥n (accuracy), sensibilidad y F-score:

The Evaluation phase is different from the Modeling technical evaluation. This phase evaluates the model concerning the business indicator and what to do next.

<a id='e51' />

## 5.1 - Evaluate results
[(back to top)](#contents)

Would the business success criteria be met using your model? which model(s) would you choose?. This is the phase when you should explain how your model would help the business. Explain it as realistic as possible, and don‚Äôt use too much technical jargon that people outside of the data world could understand.

<a id='e52' />

## 5.2 - Review process
[(back to top)](#contents)

Review your work process. Was anything missing? Need more time? Were all phases executed? Try to Summarize your findings and correct anything if required. Your first data science project iteration did not need to be the perfect one. Learning from the mistake is part of the process and what the company wants to see as well.

<a id='e53' />

## 5.3 - Determine next steps
[(back to top)](#contents)

Based on the previous tasks, decide if the model is ready for deployment, needs more iteration, or just creates a new project.

---

<a id='deployment' />

# 6. Deployment üìú
[(back to top)](#contents)

El objetivo √∫ltimo de esta fase es realizar el despliegue de los resultados obtenidos de forma que sea propagado a los usuarios finales as√≠ como el mantenimiento del mismo una vez el despliegue haya finalizado.

En esta fase deberemos ser capaces de:

Dise√±ar un plan de despliegue de modelos y conocimiento sobre nuestra organizaci√≥n.
Realizar seguimiento y mantenimiento de la parte m√°s operativa del despliegue.
Revisar el proyecto en su globalidad con el objetivo de identiÔ¨Åcar lecciones aprendidas.
Siguiendo con nuestro ejemplo el despliegue de la soluci√≥n implicar√≠a tareas como:

Implantaci√≥n de un sistema de captura digital de la imagen de anatom√≠a patol√≥gica.
Implantaci√≥n de software de clasificaci√≥n autom√°tica de tejidos de c√°ncer de mama.
Integraci√≥n con el software del laboratorio de anatom√≠a patol√≥gica.
Implantaci√≥n de nuevos procedimientos operativos del laboratorio de anatom√≠a patol√≥gica.
Monitorizaci√≥n del funcionamiento del nuevo sistema y grado de adherencia de los usuarios al mismo.
Medici√≥n del grado de precisi√≥n diagn√≥stica y la eficiencia del laboratorio tras la puesta en marcha del sistema.

You might have the best model in the world, but if your user/customer could not access the model result, it is useless. This phase might seem too much for a fresher, but if you could build a realistic enough concept, it would score you many points with the company.

<a id='d61' />

## 6.1 - Deployment 
[(back to top)](#contents)

How would you like to deploy the model? How is the result presented or delivered? Try to plan and document the process.

<a id='d62' />

## 6.2 - Monitoring and maintenance 
[(back to top)](#contents)

What is the monitoring and maintenance plan going to be like? Monitoring the result and maintaining the model quality is as important as any other phase. Businesses don‚Äôt want the model to become a burden.

<a id='d63' />

## 6.3 - Final report
[(back to top)](#contents)

Conclude the project by creating the summary report, create the presentation, and try to present it to someone you know.

<a id='d64' />

## 6.4 - Review 
[(back to top)](#contents)

Review the project by thinking about what is good, what you could improve, and what you think is lacking. Determine if the project needs more iteration or only needs frequent maintenance.

---

#### *References*

* https://towardsdatascience.com/crisp-dm-methodology-for-your-first-data-science-project-769f35e0346c

* https://www.datascience-pm.com/crisp-dm-2/

* https://medium.com/@eiki1212/eda-data-mining-workflow-for-data-science-82b70d67f4ac